<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	<a class="navbar-brand" href="#">Recipe Book</a>

	<div class="collapse navbar-collapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Recipes</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Shopping List</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Help</a>
			</li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown" appDropdown>
				<a href="#" class="dropdown-toggle nav-link" role="button">Manage<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a class="nav-link" href="#">Save Data</a></li>
					<li><a class="nav-link" href="#">Fetch Data</a></li>
				</ul>
			</li>
		</ul>
	</div>
</nav>

<!-- <nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
				<span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
			</button>
			<a routerLink="/" class="navbar-brand">Recipe Book</a>
		</div>
		<div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
			<ul class="nav navbar-nav">
				<li><a href="#">Recipes</a></li>
				<li><a href="#">Shopping List</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown" appDropdown>
					<a href="#" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Save Data</a></li>
						<li><a href="#">Fetch Data</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav> -->