<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	<img class="forkAndKnife" src="../../assets/images/forkandknife.png">
	<a class="navbar-brand" href="/recipes">Recipe Book</a>

	<div class="collapse navbar-collapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item" routerLinkActive="active" *ngIf="isAuthenticated">
				<a class="nav-link" routerLink="/recipes">Recipes</a>
			</li>
			<li class="nav-item" routerLinkActive="active" *ngIf="!isAuthenticated">
				<a class="nav-link" routerLink="/auth">Login or Sign-up!</a>
			</li>
			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="/shopping-list">Shopping List</a>
			</li>
			<li class="nav-item" routerLinkActive="active" *ngIf="isAuthenticated">
				<a class="nav-link" (click)="handleLogout()">Logout</a>
			</li>
		</ul>


		<div class="btn-group" appDropdown #r="appDropdown" placement="auto" *ngIf="isAuthenticated">
			<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">Manage<span class="caret"></span></button>
			<ul class="dropdown-menu" [ngClass]="{'show':r.isOpen}">
				<li><a class="dropdown-item" (click)="onSaveData()">Save Data</a></li>
				<li><a class="dropdown-item" (click)="onFetchData()">Fetch Data</a></li>
			</ul>
		</div>
	</div>
</nav>