.ingredientsListContainer {
	margin: .25rem 0;
	display: flex;
	justify-content: space-between;
}
input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
	border: 1px solid red;
	box-shadow: 0 0 10px 0px;
}
.imageContainer {
	height: fit-content;
}